<br>
<div class="p-r-3"><button (click)="getCategoryJoke()" [disabled]="!selectedCategory" class="btn btn-danger btn-sm col-sm-2">Get a Joke</button>
	<th>Joke:</th>
	{{joke}}
</div><br><br>

<select [(ngModel)]="selectedCategory">
	<option *ngFor="let cat of categories" [value]="cat">
		{{cat}}
	</option>
</select><br><br>

<!--<div class="p-r-3"><button (click)="getCategoryJoke()" class="btn btn-dark btn-sm col-sm-3">Get a Category
			Joke</button><br><br>-->

<button (click)="likeJoke()" class="btn btn-success btn-sm col-sm-2">Like this one</button>

<div *ngIf="goodJokes.length>0">
	<h3>List of Best Jokes:</h3>
	<div *ngFor="let gj of goodJokes; let i = index">
		<label>{{gj}}</label>
		<button (click)="removeJoke(i)">Remove</button>
	</div>
</div>

<!--
		</div><br>
		<div class="p-r-3"><button (click)="getAllCategories()" class="btn btn-danger btn-sm col-sm-3" >List of Categories</button>
			<div>
					<table class="table">
						<thead>
							<tr>
								<th>Available Categories:</th>
								<th>Actions:</th>
								<th>Category Joke: </th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor= "let ct of categories">
								<td>{{ct}}</td>
								<td><button (click)="getACategoryJoke(ct)" class="btn btn-success btn-sm">Generate</button>
								</td>
								<td>{{categoryJoke}}</td>
							</tr> 
						</tbody>
					</table>
				</div>
		</div>-->